# Byte-compiled / optimized / DLL files
__pycache__/
*.pyc
*.pyo
*.pyd
*.py[cod]
*$py.class

# Database files
*.mp4
*.mov
*.jpg
*.png
*.pkl
*.json
*.csv

# Files to keep
!datafolder/video_events.json
