# Files to keep
!datafolder/
!datafolder/video_events.json
!datafolder/1_original_event_frames/
!datafolder/1_original_event_frames/*.jpg

# Byte-compiled / optimized / DLL files
__pycache__/
*.pyc
*.pyo
*.pyd
*.py[cod]
*$py.class

tempCodeRunnerFile.py

# Database files
*.mp4
*.mov
*.jpg
*.png
*.pkl
*.json
*.csv

# Tensorboard logs
runs/
